.dialog {
    background: linear-gradient(90deg, rgb(232, 29, 55) 20%, rgb(171, 46, 49) 80%);
    border: none;
    outline: none !important;
    border-radius: 9%;
    margin: auto;
    padding: 0px;
}

.no-scroll {
    overflow: hidden;
    /* padding-right: 15px;  */
}

.pokedex-top-img {
    width: 100%;
}

.dialog-div {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 24px;
    position: relative;

}

.dialog-poke-name {
    color: white;
    position: absolute;
    top: 44px;
    left: 188px;
    font-size: 28px;
    font-weight: 600;
}


.close-button {
    position: absolute;
    top: 36px;
    left: 46px;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    margin: 0;
}

.button-press {
    background-color: #0D3240 !important;
}

.close-button:hover {
    background-color: darkred;
    cursor: pointer;
}

.dialog-types-div {
    position: absolute;
    top: 108px;
    left: 330px;
    display: flex;
    gap: 8px;

}


.small-type {
    height: 36px;
    object-fit: contain;
}

.dialog-grey-outline {
    background-color: rgb(147, 148, 153);
    flex-grow: 1;
    margin-bottom: 36px;
    width: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
}

.dialog-flex {
    display: flex;
}

.dialog-pic {
    height: 110px;
    width: 240px;
    background-color: white;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(none);
}

.dialog-pokemon-sprites {
    height: 100px;
    object-fit: contain;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.9));
}

.dialog-nav {
    width: 104px;
    background-color: white;
    margin: 16px;
    margin-left: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

.dialog-nav p {
    cursor: pointer;
    height: 23px;
    font-weight: 600;
}

.dialog-nav p:hover {
    text-decoration: underline rgb(171, 46, 49);
    font-size: 18px;
    font-weight: 600;
    color: rgb(171, 46, 49);
}

.red-underline {
    text-decoration: underline rgb(171, 46, 49);
    font-weight: 600;
    color: rgb(171, 46, 49);
}

h2 {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin: 4px;
}

.dialog-content {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px;
    margin: 0 16px;
    font-weight: 600;
    background-color: white;
}

.dialog-stat-div {
    display: flex;
    margin: 8px;
    width: calc(100%-16px);
    align-items: center;
}

.pokemon-stat-name {
    width: 66px;
}

.pokemon-stat-value {
    padding: 0 8px;
    box-sizing: border-box;
    width: 44px;
}

.stat-bar {
    flex-grow: 1;
    border: 1px solid black;
    height: 10px;
    background-color: blue;
}

.about-content p {
    padding: 4px;
}

.evolution-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.evo-sprites {
    height: 64px;
    object-fit: contain;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.9));
    z-index: 2;
}

.evo-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eevee-compact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 280px;
}

.eevee-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-eevee {
    grid-column: 2;
    grid-row: 2;
    transform: scale(2);
    background:
        linear-gradient(0deg, transparent 49%, black 50%, transparent 52%),
        linear-gradient(90deg, transparent 49%, black 50%, transparent 52%),
        linear-gradient(45deg, transparent 49%, black 50%, transparent 51%),
        linear-gradient(135deg, transparent 49%, black 50%, transparent 51%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-eevee img {
    height: 40px;
    object-fit: contain;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.9));
}

.eevee-evolution-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-image {
    flex: 1;
    display: flex;
    align-items: center;
}

.dialog-footer {
    display: flex;
    width: 100%;
    padding: 8px 36px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.dialog-footer-number {
    min-width: 64px;
    text-align: center;
}

.arrow {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.arrow path:hover {
    fill: darkred;
    cursor: pointer;
}

.left {
    transform: rotate(180deg);
}

@media (max-width:560px) {
    .dialog {
        /* margin: 0; */
        max-width: 100vw;
    }

    /* .dialog-section{
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .dialog-div {
        /* max-width: 90vw; */
        height: 600px;
        width: 320px;
    }

    .close-button {
        top: 21px;
        left: 26px;
        height: 40px;
        width: 40px;
    }

    .dialog-poke-name {
        font-size: 20px;
        left: 100px;
        top: 30px;
    }

    .dialog-types-div {
        left: 196px;
        top: 67px;
    }

    .small-type {
        height: 26px;
    }

    .dialog-grey-outline {
        width: calc(100% - 60px);
        margin-bottom: 30px;
    }

    .dialog-pic {
        margin: 8px;
        width: 130px;
    }

    .dialog-nav {
        margin: 8px;
    }

    .dialog-content {
        margin: 0 8px;
        width: calc(100% - 16px);
    }

    .evo-sprites {
        height: 50px;
    }

    .eevee-compact-grid{
        width: 240px;
    }

    .arrow {
        height: 40px;
        width: 40px;
    }
}


@media (max-width:360px) {
    .dialog {
        /* width: 100%; */
        /* margin-left: 0;
        margin-right: 0; */
    }

    .dialog-div {
        /* width: 100%; */
    }
}