* {
    margin: 0px;
}

body {
    background: linear-gradient(90deg, rgb(232, 29, 55) 20%, rgb(171, 46, 49) 80%);
    font-size: 16px;
    color: white;
}

header {
    background: linear-gradient(90deg, rgb(232, 29, 55) 20%, rgb(171, 46, 49) 80%);
    padding-top: 36px;
    padding-bottom: 4px;
    position: relative;
}

input{
    height: 36px;
    width: 160px;
    position: absolute;
    right: 60px;
    bottom: 0;
    padding-left: 12px;
    border: 3px solid rgb(147,148,153);
    border-radius: 10px;
}

.magnifying-glass{
    position: absolute;
    right: 70px;
    bottom: 6px;
    height: 28px;
    object-fit: contain;
}

.pokemon-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 30px 60px;
    min-height:calc(100vh - 378px);
}

.display-none{
    display: none !important;
}

.disable-interaction {
    pointer-events: none; 
}

.pantomime-loading{
    position: fixed;
    margin: auto;
    padding-top: 100px;
    height: 200px;
    object-fit: contain;
    z-index: 10;
}

.content {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.black{
    color: black;
}

.pokemon-sprites {
    height: 120px;
    width: 120px;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.9));
    margin: 8px;
    z-index: 1;
}

.pokemon-div {
    height: 230px;
    width: 284px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
    border: 6px solid rgb(147,148,153);
    position: relative;
}

.pokemon-div:hover{
    scale: 1.05;
}

.pokeball-background {
    position: absolute;
    transform: rotate(-4deg);
    bottom: 35px;
    right: 30px;
    scale: 1.5;
    filter: invert(100%) grayscale(100%) brightness(200%);
}

.pokemon-overview {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 550;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}

.type-icon-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.type-icon {
    height: 28px;
    width: 120px;
    border: 2px solid white;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.9));
}

button {
    padding: 4px;
    margin: 8px;
    margin-bottom: 36px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.center-content {
    max-width: 1440px;
    padding: 30px 90px;
}

.logo {
    flex-grow: 1;
    height: 42px;
}

header {
    background-color: #09212A;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 56px;
}




footer {
    background-color: #09212A;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.DA-logo {
    height: 32px;
    padding: 12px;
}

footer p {
    font-size: 12px;
}



@media (max-width:800px) {
    .center-content {
        padding: 30px 60px;
    }
}

@media (max-width:600px) {

    h1 {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 40px;
    }

    .center-content {
        padding: 30px 30px;
    }
}

@media (max-width:450px) {

    h1 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 32px;
    }
}
