* {
    margin: 0px;
}

body {
    /* background-color: #06171E; */
    background-color: rgb(179, 57, 38);
    
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    margin-bottom: 0;
    flex-grow: 1;
}

.content{
    background-color: white;
    margin:30px 60px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    height: 120px;
    width: 120px;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.9));
    margin: 8px;
}

.pokemon-div{
    height: 230px;
    width: 300px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
    border: 2px solid white;
}

.pokemon-overwiew{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}

.type-icon-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.type-icon{
    height: 28px;
    width: 120px;
    border: 2px solid white;
    border-radius: 30px;
}

button{
    padding: 4px;
    margin: 8px;
    margin-bottom: 36px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.center-content {
    max-width: 1440px;
    padding: 30px 90px;
}

.logo {
    flex-grow: 1;
    height: 42px;
}

header {
    background-color: #09212A;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    font-size: 56px;
}


.dialog {
    background-color: #09212A;
    color: white;
    border: none;
    outline: none !important;
    border-radius: 5%;
    margin: auto;
    padding: 0px;
}

.dialog-div {
    width: 70w;
    height: 77vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-header {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    padding-left: 36px;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 24px;

}

.close-button {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin: 0;
}

.button-press {
    background-color: #0D3240 !important;
}

.close-button:hover {
    background-color: #6BC1E1;
    cursor: pointer;
}

dialog img {
    width: 70vw;
    height: 60vh;
    object-fit: scale-down;
    max-width: 98%;
    margin: 0 16px;
}

.dialog-image {
    flex: 1;
    display: flex;
    align-items: center;
}

.dialog-footer {
    display: flex;
    width: 100%;
    padding: 12px 36px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.dialog-footer-number {
    min-width: 64px;
    text-align: center;
}

.arrow {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.arrow:hover {
    background-color: #372528;
    cursor: pointer;
}

.left {
    transform: rotate(180deg);
}


footer {
    background-color: #09212A;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.DA-logo {
    height: 32px;
    padding: 12px;
}

footer p {
    font-size: 12px;
}


@media (max-height:950px) {
    .dialog-div {
        height: 87vh;
    }
}

@media (max-height:600px) {
    dialog img {
        height: 50vh;
    }
}

@media (max-width:800px) {
    .center-content {
        padding: 30px 60px;
    }
}

@media (max-width:600px) {

    h1 {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 40px;
    }

    .center-content {
        padding: 30px 30px;
    }
}

@media (max-width:450px) {

    h1 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 32px;
    }

    .arrow {
        height: 44px;
        width: 44px;
    }

    .dialog-div {
        max-height: 700px;
    }

    dialog img {
        max-height: 400px;
    }
}

@media (max-width:450px) {
    .dialog-div {
        max-height: 550px;
    }
}